dist/
/docs/
/build/
/custom_bin/
/*.wasm
/coverage/
/doc/
/.yardoc/
/*.gem

# We want to track bin/cdd-ruby, so ignore other contents but not bin itself
/bin/*
!/bin/cdd-ruby

# Generated output directories
/out_*/
/out_cli/
/out_sdk/
/out_server/

# Test / Scratch files
/massive*.json
/massive*.txt
/test_*.json
/test_*.rb
/patch_*.rb

# Test / Temporary files
/rubies/
Dockerfile.test*
test_out.txt
.bundle/
ruby-*-wasm32-*/
vendor/
Gemfile.lock

node_modules/
__pycache__/
*.o
*.so
target/
.idea/
